<ion-view view-title="Kontakte">

  <ion-content ng-controller="KontakteCtrl">
    <!-- Add Button -->
    <center>
      <div class="addRemove">
      <button id="minusButton" class="button button-full button-small button-left button-balanced ion-minus" ng-click="showConfirmContact();">
      <button id="plusButton" class="button button-full button-small button-right button-balanced ion-plus" ng-click="showConfirmContact();"></center>
      </div>
    <ion-list>
      <!-- Contact List Divider -->
      <div id="A" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">A</a>

  </a>
      </div>
      <div id="B" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">B</a>

  </a>
      </div>
      <div id="C" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">C</a>

  </a>
      </div>
      <div id="D" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold; ">D</a>

  </a>
      </div>
      <div id="E" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">E</a>

  </a>
      </div>
      <div id="F" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">F</a>




      </div>
      <div id="G" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">G</a>

  </a>
      </div>
      <div id="H" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">H</a>

  </a>
      </div>
      <div id="I" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">I</a>

  </a>
      </div>
      <div id="J" class="item item-divider" style="display: none;">
    <!-- <a style="color: black !important;font-weight: bold;">J</a>

    <a class="item item-icon-left"  href="#">
      <i class="icon ion-person"></i>
      <i class="contactname">Janita</i></br>
      <i class="status"> jugend-hackt '16</i>
  </a>

</a> -->
      </div>
      <div id="K" class="item item-divider" style="display: none;">
  <!--  <a style="color: black !important;font-weight: bold;">K</a>
    <a class="item item-icon-left"  href="#">
      <i class="icon ion-person"></i>
      <i class="contactname">Khalid</i></br>
      <i class="status"> ...auf dem Siegertrip</i>
  </a>
</a> -->
      </div>
      <div id="L" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">L</a>

  </a>
      </div>
      <div id="M" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">M</a>

  </a>
      </div>
      <div id="N" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">N</a>

  </a>
      </div>
      <div id="O" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">O</a>

  </a>
      </div>
      <div id="P" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">P</a>

  </a>
      </div>
      <div id="Q" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">Q</a>

  </a>
      </div>
      <div id="R" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">R</a>

  </a>
      </div>
      <div id="S" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">S</a>

  </a>
      </div>
      <div id="T" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">T</a>

  </a>
      </div>
      <div id="U" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">U</a>

  </a>
      </div>
      <div id="V" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">V</a>

  </a>
      </div>
      <div id="W" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">W</a>

  </a>
      </div>
      <div id="X" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">X</a>

  </a>
      </div>
      <div id="Y" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">Y</a>

  </a>
      </div>
      <div id="Z" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">Z</a>

  </a>
      </div>
      <div id="#" class="item item-divider" style="display: none;">
    <a style="color: black !important;font-weight: bold;">#</a>

  </a>

      </div>
    </ion-list>
    </ion-content>
</ion-view>
