<ion-view view-title="Dashboard">
  <ion-content class="padding">

    <!-- Logo -->
    <center>
      <img id="whatSnapLogo"style="margin-bot: 100px;"class="ion-img" src="img/Icony.png"width="100" height="90"/>
    </center>
    <br/>
    <br/>
    <!-- Title and Comment animated FadeIn -->
    <center>
      <h1 id="whatSnapWelcome" style="display: none;">Willkommen!</h1>
      <h2 id="whatSnapTitle"style="display: none;" class="titles">WhatSnap</h2>
      <i id="commentTitle" style="display: none;"> Dein Messenger mit steganografischer Verschlüsselung</i>
    </center>
  </ion-content>
</ion-view>
