<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Start" icon-off="ion-ios-world" icon-on="ion-ios-world" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Chats" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">
    <ion-nav-view name="tab-chats"></ion-nav-view>
  </ion-tab>
  <!-- Contacts Tab -->
  <ion-tab title="Kontakte" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/kontakte">
    <ion-nav-view name="tab-kontakte"></ion-nav-view>
  </ion-tab>
  <!-- Profile Tab -->
  <ion-tab title="Profil" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>



</ion-tabs>
